.limiter{
    width: 100%;
    height: 970px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.login-container{
    width: 1000px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color:transparent;
}
.login-wrap{
    width: 500px;
    height: 700px;
    background: #f5f1f0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
    justify-content: center;
    align-items: center;
}
.login-form{
    width: auto;
    position: relative;
    padding: 0px 55px;
    padding-top: 180px;
}
.login-form-title{
    font-size: 60px;
    font-weight: 700;
    color: white;
    line-height: 1.2;
    text-align: center;
    display: block;
    position: absolute;
    width: 500px;
    top: 0;
    left: 0;
    background:linear-gradient(45deg, #F1CDB9 10%, #b6aeab 90%) ;
    padding-top: 50px;
    padding-bottom: 40px;
    
}
.wrap-input{
    position: relative;
    width: auto;
    border-radius: 27px;
    z-index: 1;
    margin-bottom: 16px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    display:flex
}
.input{
    font-size: 15px;
    line-height: 1.2;
    display: block;
    width: 400px;
    height: 55px;
    border-radius: 27px;
    position: relative;
    padding: 0 35px;
    outline: none;
    border: none;
    margin: 0;
    overflow: visible;
    margin-bottom: 16px;
}
.input:hover{
    transform: scale(1.01);
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
    
}
::placeholder{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;    
}
.forgotPassword-text{
    padding-top: 13px;
    float: right;
}
.text1{
    font-size: 15px;
    color: #abe4e4;
    line-height: 1.4;
    text-decoration: none;
}
.text1:hover{
    color: #2d3b3b;
    transition: 1s ease;
}
.login-form-btn-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login-form-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #abe4e4;
    border-radius: 25px;
    font-size: 15px;
    color: white;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    outline: none!important;
    border: none;
}
.login-form-btn:hover{
    background-color: #2d3b3b;
    transition: 1s ease;
}
.alert{
    color: rgba(255, 0, 0, 0.562);
    margin-top: 10px;
    font-weight: 600;
    font-size: 12px;
    
}